In [7]:
!pip install Pandas
import pandas as pd

df = pd.read_csv('/content/passenger_data.csv')

# Part 1 – Data Processing with Pandas

print("Total number of passengers:", len(df))

print("\nPassengers traveling to each destination:")
print(df['destination'].value_counts())

print("\nAverage ticket price by gender:")
print(df.groupby('gender')['ticket_price'].mean())

Requirement already satisfied: Pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from Pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from Pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from Pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from Pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->Pandas) (1.17.0)
Total number of passengers: 50

Passengers traveling to each destination:
destination
Lahore       12
Quetta       12
Karachi      10
Islamabad     9
Peshawar      7
Name: count, dtype: int64

Average ticket price by gender:
gender
F    14855.464286
M    14581.727273
Name: ticket_price, dtype: float64

In [8]:
# Part 2 – Python Filtering and Analysis

def get_passengers_by_destination(dest):
    filtered = df[df['destination'].str.lower() == dest.lower()]
    return filtered['name'].tolist()

print(get_passengers_by_destination("Karachi"))

def get_highest_paying_passenger():
    max_price_idx = df['ticket_price'].idxmax()
    highest_payer = df.loc[max_price_idx]
    return highest_payer['name'], highest_payer['destination']

print(get_highest_paying_passenger())

['Usman Rafiq', 'Ayesha Noor', 'Usman Rafiq', 'Iqra Ahmed', 'Taha Kamal', 'Laiba Yousuf', 'Hiba Noor', 'Bilal Aslam', 'Mariam Ali', 'Mariam Ali']
('Ayesha Noor', 'Quetta')

In [9]:

# Part 3 – Sorting and Logic

sorted_df = df.sort_values(by='ticket_price', ascending=False)
print(sorted_df)

print("\nTop 3 passengers by ticket price:")
print(sorted_df[['name', 'age', 'ticket_price']].head(3))

   passenger_id            name  age gender destination  ticket_price
14         P015     Ayesha Noor   33      M      Quetta         19950
16         P017    Ahmed Nadeem   28      M      Lahore         19780
22         P023    Ahmed Nadeem   34      M    Peshawar         19636
36         P037      Sana Javed   37      F      Quetta         19157
10         P011      Taha Kamal   38      F   Islamabad         18764
9          P010     Sarah Malik   48      F   Islamabad         18658
39         P040     Bilal Aslam   40      F      Quetta         18635
8          P009    Zainab Tariq   49      F      Quetta         18625
2          P003     Rehan Ahmed   24      M      Quetta         18227
3          P004        Ali Khan   32      M      Lahore         18130
41         P042   Fatima Hassan   24      F      Lahore         17680
1          P002    Nimra Shahid   57      M      Lahore         17048
45         P046     Bilal Aslam   59      F     Karachi         16730
49         P050      Mariam Ali   28      F     Karachi         16557
17         P018     Hamza Tariq   43      F      Quetta         16195
25         P026  Danish Qureshi   54      M   Islamabad         16013
0          P001     Usman Rafiq   23      F     Karachi         15677
44         P045      Sana Javed   53      M    Peshawar         15547
40         P041     Zara Sheikh   57      F    Peshawar         15537
21         P022     Ayesha Noor   40      F    Peshawar         15119
7          P008     Rehan Ahmed   48      M      Lahore         14950
28         P029        Ali Khan   30      F      Lahore         14906
38         P039    Nimra Shahid   53      F      Quetta         14764
35         P036    Zainab Tariq   38      F   Islamabad         14565
32         P033      Taha Kamal   42      F      Quetta         14491
4          P005    Laiba Yousuf   25      F      Lahore         14286
6          P007       Hiba Noor   19      M      Lahore         14263
24         P025    Zainab Tariq   54      M    Peshawar         14256
31         P032    Zainab Tariq   36      F      Quetta         14157
18         P019    Nimra Shahid   21      M   Islamabad         13990
33         P034    Zainab Tariq   38      M      Quetta         13896
23         P024     Ayesha Noor   39      F     Karachi         13170
26         P027     Usman Rafiq   40      F     Karachi         13100
13         P014     Bilal Aslam   35      F   Islamabad         13098
12         P013        Ali Khan   44      M   Islamabad         13008
37         P038        Ali Khan   49      F      Lahore         12729
20         P021      Mariam Ali   28      M   Islamabad         12557
43         P044     Hamza Tariq   48      M      Lahore         12424
29         P030      Taha Kamal   39      F     Karachi         12178
46         P047      Mariam Ali   41      F     Karachi         12060
47         P048     Usman Rafiq   44      F    Peshawar         11990
15         P016   Fatima Hassan   59      F      Quetta         11872
34         P035    Laiba Yousuf   55      M     Karachi         11739
19         P020      Sana Javed   46      M    Peshawar         11733
5          P006    Nimra Shahid   33      M      Lahore         11251
48         P049   Fatima Hassan   37      M      Quetta         11219
42         P043       Hiba Noor   49      M     Karachi         11060
11         P012   Fatima Hassan   59      F   Islamabad         10916
27         P028      Iqra Ahmed   24      F     Karachi         10337
30         P031     Bilal Aslam   26      M      Lahore         10121

Top 3 passengers by ticket price:
            name  age  ticket_price
14   Ayesha Noor   33         19950
16  Ahmed Nadeem   28         19780
22  Ahmed Nadeem   34         19636

In [10]:
# Bonus Task – Custom Filtering

def filter_by_age_threshold():
    try:
        threshold = int(input("Enter an age threshold: "))
        count = len(df[df['age'] < threshold])
        print(f"\nNumber of passengers younger than {threshold}: {count}")
    except ValueError:
        print("Please enter a valid integer.")

filter_by_age_threshold()

Enter an age threshold: 30

Number of passengers younger than 30: 11